.header {
    padding: 2rem;
    border-bottom: $border;

    &.active{
        background: $white;
        box-shadow: $boxshadow;
        border: 0;
    }
    .container {
        .row {
            .logo {
                font-size: 2rem;
                color: $black;
                span {
                    color: $blue;
                }
            }
            .nav {
                a {
                    margin: 0 1rem;
                    font-size: 1.7rem;
                    color: $black;
                    &:hover {
                        color: $blue;
                    }
                }
            }
            .mobileMenu{
                display: none;
            }
        }
    }
}
